body {
  margin: 0;
  background-color: steelblue;
  font-family: yehuda;
  overflow-x: hidden;
}
a {
  font-size: x-large;
  font-style: normal;
  color: antiquewhite;
  text-decoration: none;
}
p {
  font-size: larger;
}
html {
  scroll-behavior: smooth;
}
.movingObject {
  transition: margin 5s ease-in-out;
}
@font-face {
  font-family: "yehuda";
  src: local("yehuda"),
    url(./fonts/yehuda/yehudaclm-bold-webfont.woff) format("truetype");
}
input {
  margin-bottom: 20px;
}
